<?xml version="1.0" encoding="iso-8859-1" ?><definitions>	<define var="SQL_HOTE" value="" />	<define var="SQL_PORT" value="" />	<define var="SQL_DB" value="" />	<define var="SQL_USR" value="" />	<define var="SQL_PWD" value="" />	<define var="WEBSITE_DNS" value="" />	<define var="WEBSITE_ROOT" value="" />	<define var="WEBSITE_404" value="/cup/web/404" />	<define var="WEBSITE_TITLE" value="TITRE DU SITE" />	<define var="WEBSITE_EMAIL" value="EMAIL-DE-CONTACT@MAIL.COM" />	<define var="VAR_ENABLE_REDIRECT_404" value="1" /></definitions>